{
  "env": {
    //remove either of the lines below if you don't need it
    //enable nodejs environment
  "node": 1,
    //enable browser environment
   "browser": 1,
  },
  "globals": {
    //place settings for globals here, such as
   "jQuery":false,
   "$": true
  },
  "rules": {
    //enable ESLint rules, such as
    'quotes': [1, 'double'],
    'semi': [1, 'always']
  },
  "parserOptions":{
  "ecmaVersion":6
},
  "plugins": [
    //you can put plugins here
  ]
}
